services:
  backend:
    image: new-wasa-backend:latest
    build:
      context: .
      dockerfile: Dockerfile.backend
    ports:
      - "8080:8080"
    environment:
      - GIN_MODE=release
  frontend:
    image: new-wasa-frontend:latest
    build:
      context: .
      dockerfile: Dockerfile.frontend
    ports:
      - "8081:80"
    depends_on:
      - backend
    volumes:
      - ./webui/nginx.compose.conf:/etc/nginx/conf.d/default.conf:ro
